[defaults]
inventory = inventory/hosts.ini
remote_user = ansible

[privilege_escalation]
become = true
become_user = root
become_method = sudo

[ssh_connection]
ssh_args = -o ControlPersist=60s
timeout = 30
